In [23]:
import pandas as pd
users_combined_rating_pivot = pd.read_csv("users_combined_rating_pivot.csv")
query = '006008460X'

In [24]:
users_combined_rating_pivot.ISBN

0       000649840X
1       000654861X
2       002026478X
3       002089130X
4       002089130x
           ...
1129    B00009EF82
1130    B0000C7BNG
1131    B0000E63CJ
1132    B0000T6KHI
1133    B0001PIOX4
Name: ISBN, Length: 1134, dtype: object

In [25]:
users_combined_rating_pivot.loc[users_combined_rating_pivot['ISBN']==query,:].values[:,1:].reshape(1,-1)

array([[0.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [26]:
import pickle
model = pickle.load(open('knn_model.pkl','rb'))

In [27]:
query = '006008460X' 
# users_combined_rating_pivot.index[users_combined_rating_pivot.index==query]
distances, indices = model.kneighbors(users_combined_rating_pivot.loc[users_combined_rating_pivot['ISBN']==query,:].values[:,1:].reshape(1,-1), n_neighbors = 6)

In [28]:
print(indices)

[[  11 1132  883   17  267  705]]

In [29]:
users_combined_rating_pivot.index

RangeIndex(start=0, stop=1134, step=1)

In [34]:
users_combined_rating_pivot.head()

,ISBN,8,99,183,242,243,254,383,388,408,...,278390,278418,278506,278535,278554,278563,278582,278633,278843,278851
0,000649840X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000654861X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,002026478X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,002089130X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,002089130x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
users_combined_rating_pivot.iloc[1][0]

'000654861X'

In [48]:
list_books = []
for i in range(0, len(distances.flatten())):
    if i>=0:
        book_num = users_combined_rating_pivot.iloc[indices.flatten()[i]][0]
        print(indices.flatten()[i])
            #book_name = get_book_name(book_num)
            #print('{0}: {1}-{2}, with distance of {3}:'.format(i, book_name, book_num, distances.flatten()[i]))
        list_books.append(book_num)
    # json_file = json.dump(list_books)
print(list_books)

11
1132
883
17
267
705
['006008460X', 'B0000T6KHI', '1568655878', '006018650X', '042514545X', '1551666014']